/* .main-section {
  position: relative;
  color: white;
  text-align: center;
  min-height: 100vh;
}

.content {
  max-width: 800px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.title {
  font-size: 3em;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.details {
  display: flex;
  justify-content: space-around;
}

.detail-item {
  max-width: 200px;
}

.detail-text {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.detail-button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
